@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply cursor-pointer hover:underline;
	}
	.button {
		@apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 
        border-yellow-300 rounded-sm focus:outline-none focus:ring-2 
        focus:ring-yellow-500;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
